<h1 class ="title">
    Connections 
</h1>
<%= form_for :connections, :url => { :method => :get, :action => :connections } do |f| %>
<% if !@user.nil? %>
<% @user.each do |u| %>
<table align="center" width="100%" style=" margin-top: 30px; margin-bottom:30px">
    <tr>
        <% username = User.find(u.RequestFrom) %>
        <td width="30%" style="background-color: #ccdbe0;" class="style1">
                        <%= f.label(:username, username.First_Name + " " + username.Last_Name,    :style => "color:blue;" ) %>
        </td>
        <td width="70%" style="background-color:#33b5e5;">
            <table style="color:white;">
                <% @user_communication = Communication.where('"UserID" = ?',u.RequestFrom) %>
                <% @user_communication.each do |c| %>
                    <tr>
                        <td>
                            <%= f.label(:communication, c.CommunicationMode ) %>
                        </td>
                        <td>
                            :<%= f.label(:communication, c.CommunicationDetail ) %>
                        </td>
                    </tr>
                <%end%>        
            </table>
            <hr>
            <table style = "color:white;">
                <% user_availability = Availability.where('"UserID" = ?',u.RequestFrom) %>
                <% user_availability.each do |a| %>
                <tr>
                    <td>
                        <%= f.label(:userdays, a.UserDays ) %>
                    </td>
                    <td></td>
                    <td>
                        from <%= f.label(:timefrom, a.TimeFrom ) %>
                    </td>
                    <td></td>
                    <td>
                        to <%= f.label(:timeto, a.TimeTo ) %>
                    </td>
                </tr>
                <% end %>
            </table>
            <hr>
            <table style="color:white;">
                <% user_education = Education.where('"UserID" = ? ',u.RequestFrom) %>
                <% user_education.each do |e| %>
                <tr>
                    <td>
                        <%= f.label(:schoolname, e.SchoolName ) %>
                    </td>
                    <td></td>
                    <td>
                        class of <%= f.label(:schoolto, e.SchoolTo ) %>
                    </td>
                </tr>
                <% end %>
            </table>
            <hr>
            <table style="color:white;">
                <% user_profession = Profession.where('"UserID" = ? ',u.RequestFrom) %>
                <% user_profession.each do |p| %>
                <tr>
                    <td>
                        <%= f.label(:designation, p.Designation ) %>
                    </td>
                    <td></td>
                    <td>
                        at <%= f.label(:jobto, p.Job_To ) %>
                    </td>
                </tr>
                <% end %>
            </table>
                        <table>
                <tr>
                    <td>
                        <div class="button">
                            <%= link_to "Remove", rejectconnection_path(:id =>u.RequestFrom), { method: :post, :class => "buttonblck" } %>
                        </div> 
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<% end %>
<% end %>
<table width="100%" align="center" >
<tr>
        <td align="center">
            <div style="background-color:#33b5e5;border-radius:15px; display:inline-block; color: white; font-family: Raleway; font-size:15px; padding:14px 30px; text-decoration: none;  text-align:center;">
                    <%= link_to "Back", "/default", { :class => "buttonBack"} %>
            </div>
        </td>
    </tr>
</table>

<% end %>