<table align="center" width="85%" style="margin-left40px;" >
<tr>
   <td style="color: #212121;">
 <div class="button">
      <%= button_to "Search", {}, {:class => "buttonhome" } %>
 </div>
   </td>
   <td style="color: #212121;">
 <div class="button">
      <%= button_to "Pending Request", {}, {:class => "buttonhome" } %>
 </div>
   </td>
</tr>

<tr>
   <td style="color: #212121;">
    <div class="button">
      <%= button_to "Connections", {}, {:class => "buttonhome" } %>
 </div>
    </td>
   <td style="color: #212121;">
    <div class="button">
      <%= button_to "Profile", {}, {:class => "buttonhome" } %>
 </div>
    </td>
</tr>

<tr>
   <td style="color: #212121;">
    <div class="button">
      <%= button_to "Settings", {}, {:class => "buttonhome" } %>
 </div>
   </td>
   <td style="color: #212121;">
    <div class="button">
      <%= button_to "Request I have Sent", {}, {:class => "buttonhome" } %>
 </div>
   </td>
</tr>
</table>