<% provide(:title, "Sign in") %>
<h2 class="subtitle">
  Welcome to Mentor Mentored
</h2>
<p class="details">
  Mentor Mentored helps you connect with<br/>
  potential mentors and mentees from anywhere
  </p>
<%= form_for(:session, url: sessions_path,:html => {:id => "signin"}) do |f| %>
<table width="100%">
  <tr>
    <td align="right" width="68%">
      <label for="validation_all" id="errormessage" visible="false" style="color:red;"></label>
    </td>
    <td width="32%"></td>
  </tr>
  <tr>
    <td align="right" style="color: #212121;" width="68%">
      <%= f.text_field :email, :placeholder => "Email", :id => "tf_email" %>
      <br/>
    </td>
    <td width="32%"></td>
  </tr>
  <tr>
    <td align="right" style="color: #212121;" width="68%">
          <%= f.password_field :password, :placeholder => "Enter Password", :id => "tf_password" %>
    </td>
    <td width="32%">
          <label for="validation_pw" id="errormessage3" visible="false" style="color:red; font-size:x-small;">
    </td>
  </tr>
</table>

<table width="100%">
  <tr>
    <td width="30%"></td>
    <td align="right">
      <label class="radio inline">
        <%= f.radio_button :user_Type, "Mentor", :id => "rb_mentor", :value => "false" %>
        Mentor
      </label>
      &nbsp;&nbsp;
      <label class="radio inline">
        <%= f.radio_button :user_Type, "Mentee", :id => "rb_mentee" %>
        Mentee
      </label>
    </td>
    <td align="center" width="38%">
      <label for="validation" id="errormessage1" visible="false" style="color:red;"></label> 
    </td>
  </tr>
</table>
<table>
<tr>

</tr>
</table>
<br/>
<table style="margin-left:100px;" width="80%" id="network">
  <tr>
    <td width="13%"></td>
    <td align="right">
      <label class="radio inline">
        <%= f.radio_button(:SkillType, "Students",:id => "rb_SkillType") %>
        Students
      </label>
    </td>
    <td align="center">
      <label class="radio inline">
        <%= f.radio_button(:SkillType1, "Entrepreneurs",:id => "rb_SkillType1") %>
        Entrepreneurs
      </label>
    </td>
    <td align="left">
      <label class="radio inline">
        <%= f.radio_button(:SkillType2, "Veterans",:id => "rb_SkillType2") %>
        Veterans
      </label>
    </td>
    <td align="center" width="28%">
      <label for="validation" id="errormessage2" visible="false" style="color:red;"></label> 
    </td>
  </tr>
</table>

<table width="83%" >
  <tr>
    <td align="center">
      <div id="loginbutton">
        <%= f.submit "Sign in", :style => "color:White;background-color:Transparent;border-style:none;font-family:Arial;font-size:Medium;height:35px" %>
      </div>
    </td>
  </tr>
</table>

    <% end %>
<table width="100%" align="center">
  <tr>
    <td align="center">
      &nbsp;&nbsp;&nbsp;
      <p> <%= link_to "Forgot your password!", new_password_reset_path,:style => "color:Gray;font-size:Large;text-decoration:none" %></p>
    </td>
  </tr>
</table>

<script type="text/javascript">
   $("#signin").submit(function ( event ) {
      //alert("Hassan");
      //var email = /\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i;
      var email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      //alert(email);
      var hasError1 = false;
      var inp_email = $("#tf_email").val();
      var inp_pw = $("#tf_password").val();
      //alert(inp_pw.length);
      //var inp_email = $("#tb_email").val();
      if(!email.test(inp_email))
      //if (!inp_email.val().match(email)) 
      {
        if (inp_pw == 0)
        {
          var message = $("#errormessage").html("Invalid Email/Password");//alert("Hassan");
          message.show();
          hasError = true; 
        }
        else
        {
          var message = $("#errormessage").html("Invalid Email/Password");//alert("Hassan");
          message.show();
          hasError = true; 
        }
      }
      else
      {
        if (inp_pw == 0)
        {
          var message = $("#errormessage").html("Invalid Email/Password");//alert("Hassan");
          message.show();
          hasError = true; 
        }
        else
        {
        //alert("Hassan");
        hasError = false;
        $("#errormessage").empty().hide();
        }
      }

      if(inp_pw.length < 6)
      { 
        var message = $("#errormessage3").html("Password must be greater then 5 characters");//alert(
        message.show();
        hasError = true; 
      }
      else
      {
        //alert("Hassan");
        hasError = false;
        $("#errormessage3").empty().hide();
      }
});
</script>
<script type="text/javascript">
   $("#signin").submit(function ( event ) {
      //alert("Hassan");
      var mentor_value = $("#rb_mentor").is(':checked') ? 1 : 0;
      var mentee_value = $("#rb_mentee").is(':checked') ? 1 : 0;
      //alert(mentee_value);
      var hasError = false;
      if(mentor_value == 0 && mentee_value == 0)
      {
         var message1 = $("#errormessage1").html("Please Select");//alert("Hassan");
         message1.show();
         hasError = true;
      }
      else
      {
        hasError = false;
        $("#errormessage1").empty().hide();
      } 
      if(hasError)
      {
        event.preventDefault();
      }
   });
</script>
<script type="text/javascript">
   $("#signin").submit(function ( event ) {
      //alert("Hassan");
      var network_value1 = $("#rb_SkillType").is(':checked') ? 1 : 0;
      var network_value2 = $("#rb_SkillType1").is(':checked') ? 1 : 0;
      var network_value3 = $("#rb_SkillType2").is(':checked') ? 1 : 0;
      //alert(network_value1);
      var hasError2 = false;
      //alert(network_value1);
      if(network_value1 == 0 && network_value2 == 0 && network_value3 == 0)
      {
        //alert("Ali");
         var message2 = $("#errormessage2").html("Please Select");//alert("Hassan");
         message2.show();
         hasError2 = true;
      }
      else
      {
        //alert("Hassan");
        hasError2 = false;
        $("#errormessage2").empty().hide();
      } 
      if(hasError2)
      {
        event.preventDefault();
      }
   });
</script>
