<% provide(:title, 'Sign up') %>
<script type="text/javascript">
  $(document).ready(function () {
    $("#SkillType").change(function (){
      $("#DDL_Students").toggle(this.checked);
    }).change();


    $("#SkillType1").change(function (){
    $("#DDL_Entrepreneurs").toggle(this.checked);
      }).change(); 

    $("#SkillType2").change(function (){
    $("#DDL_Veterans").toggle(this.checked);
      }).change(); 

  });
</script>

<h1 class="title">Sign up</h1>

<%= form_for(@user,:html => {:id => "signup"}) do |f| %>
<%= render 'shared/error_messages' %>
<table align="center" width="100%">
  <tr>
   
    <td align="center">
      <select ID="DropDownList1" runat="server">
        <option Text="Title">Title</option>
        <option Text="Mr." Value="1">Mr.</option>
        <option Text="Ms." Value="2">Ms.</option>
        <option Text="Dr." Value="3">Dr.</option>
      </select>
    </td>
   
   </tr>
   <tr>
    <td align="center">
      <%= f.text_field :First_Name,placeholder: "First Name" %>
    </td>
   </tr>
   <tr>
    <td align="center">      
      <%= f.text_field :Last_Name, placeholder: "Last Name" %>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= f.text_field :email, placeholder: "Email" %>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= f.password_field :password, placeholder: "Enter Password" %>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= f.password_field :password_confirmation,placeholder: "Re-Enter Password" %>
    </td>
  </tr>
</table>
<br/>
<table align="center" width="100%" >
  <tr>
    <td align="right" height="35px" style="font-size: large; color: #212121;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I want to be a
    </td>
    <td align="center" style="font-size: large; color: #212121;">
      <label class="radio inline" style="font-size: large">
        <%= f.radio_button :user_Type, "Mentor", :id => "rb_mentor" %>
        Mentor
      </label>
      <br/>
      <label class="radio inline" style="font-size: large">
        <%= f.radio_button :user_Type, "Mentee", :id => "rb_mentee" %>
        Mentee
      </label>
    </td>

    <td width="40%" style="text-align:right;">
        <label for="validation_all" id="errormessage1" visible="false" style="color:red;"></label>
    </td>
  </tr>
</table>
<table align="center" width="100%" >
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td width="40%" style="text-align:right;">
        <label for="validation_all" id="errormessage2" visible="false" style="color:red;" ></label>
      </td>
    </tr>
    <tr height="40px">
      <td width="10%" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td width="20%" align="left" style=" color: #212121;" >
        <label class="checkbox inline" style="font-size:large" >
          <%= f.check_box(:SkillType,{:id => "SkillType",:value => "Students"}) %>
          Students
        </label>
      </td>
      <td >
          <%= f.select(:user_Need,options_from_collection_for_select(@students, "id", "student_mentor_subjects"), {},:id => "DDL_Students",:style => "margin-top: 10px") %>
      </td>
    </tr>
    <tr height="40px">
      <td>
      </td>
      <td>
        <label class="checkbox inline" style="font-size:large" >
          <%= f.check_box(:SkillType1,{:id => "SkillType1", :value =>"Entrepreneurs"} ) %>
          Entrepreneurs
        </label>
      </td>
      <td>
        <%= f.select :SkillNeed1,options_from_collection_for_select(@entrepreneurs,"id", "entrepreneurs_mentor_subjects"),{},:id => "DDL_Entrepreneurs",:style => "margin-top: 10px" %>
      </td>
    </tr>
      <!--  Business-->
    <tr height="50px">
      <td>
      </td>
      <td>
        <label class="checkbox inline" style="font-size:large" >
          <%= f.check_box(:SkillType2,{:id => "SkillType2",:value => "Veterans"}) %>
          Veterans
        </label>
      </td>
      <td>
        <%= f.select :skillNeed2,options_from_collection_for_select(@veterans,"id","veteran_mentor_subjects"),{},:id => "DDL_Veterans",:style => "margin-top: 10px" %>
      </td>
      <!--   veterans-->
      
    </tr>
  </table>
  <br/>
  <table align="center" width="100%">
    <tr>
      <td align="center">
        <%= f.text_field :user_Zip,:placeholder => "Zip"%>
        <br/>
        <%= f.text_field :user_City,:placeholder => "City" %>
        <%= f.select :user_State, options_for_select([
          "State",
           "Alabama AL",
                                "Alaska AK",
                                "Arizona AZ",
                                "Arkansas AR",
                                "California CA",
                                "Colorado CO",
                                "Connecticut CT",
                                "Delaware DE",
                                "Florida FL",
                                "Georgia GA",
                                "Hawaii HI",
                                "Idaho ID",
                                "Illinois IL",
                                "Indiana IN",
                                "Iowa IA",
                                "Kansas KS",
                                "Kentucky KY",
                                "Louisiana LA",
                                "Maine ME",
                                "Maryland MD",
                                "Massachusetts MA",
                                "Michigan MI",
                                "Minnesota MN",
                                "Mississippi MS",
                                "Missouri MO",
                                "Montana MT",
                                "Nebraska NE",
                                "Nevada NV",
                                "New Hampshire NH",
                                "New Jersey NJ",
                                "New Mexico NM",
                                "New York NY",
                                "North Carolina NC",
                                "North Dakota ND",
                                "Ohio OH",
                                "Oklahoma OK",
                                "Oregon OR",
                                "Pennsylvania PA",
                                "Rhode Island RI",
                                "South Carolina SC",
                                "South Dakota SD",
                                "Tennessee TN",
                                "Texas TX",
                                "Utah UT",
                                "Vermont VT",
                                "Virginia VA",
                                "Washington WA",
                                "West Virginia WV",
                                "Wisconsin WI",
                                "Wyoming WY" ]),:style => "width:154px" %>
      </td>
    </tr>
  </tabie>
  <table align="center" width="100%" style="margin-left:35px">
    <tr>
      <td align="center" ><br/>
        <%= f.file_field :photo %>
      </td>
    </tr>
  </table>
  <table width="84%">
    <tr>
      <td align="center">
  <%= f.submit "Create my account", :style => "background-color:#33b5e5;border-radius:15px; display:inline-block; color: white; font-family: Raleway; font-size:15px; padding:14px 30px; text-decoration: none; margin-left: 20%; margin-top: 15px; margin-bottom: 15px; text-align:center;" %>
</td>
</tr>
</table>
<% end %>
<script type="text/javascript">
   $("#signup").submit(function ( event ) {
      //alert("Hassan");
      var mentor_value = $("#rb_mentor").is(':checked') ? 1 : 0;
      var mentee_value = $("#rb_mentee").is(':checked') ? 1 : 0;
      //alert(mentor_value);
      var hasError = false;
      if(mentor_value == 0 && mentee_value == 0)
      {
        var message = $("#errormessage1").html("Please Select");//alert("Hassan");
        message.show();
        hasError = true;
      }
      else
      {
        hasError = false;
        $("#errormessage1").empty().hide();
      } 
      if(hasError)
      {
        event.preventDefault();
      }
   });
</script>
<script type="text/javascript">
   $("#signup").submit(function ( event ) {
      //alert("Hassan");
      var network_value1 = $("#SkillType").is(':checked') ? 1 : 0;
      var network_value2 = $("#SkillType1").is(':checked') ? 1 : 0;
      var network_value3 = $("#SkillType2").is(':checked') ? 1 : 0;
      //alert(mentor_value);
      var hasError1 = false;
      if(network_value1 == 0 && network_value2 == 0 && network_value3 == 0)
      {
        var message = $("#errormessage2").html("Please Select");//alert("Hassan");
        message.show();
        hasError1 = true;
      } 
      else
      {
        hasError1 = false;
        $("#errormessage2").empty().hide();
      }
      if(hasError1)
      {
        event.preventDefault();
      }
   });
</script>