<script src="/Scripts/jquery-1.4.1.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#btnAdd").click(function() {

            var rownum=$("#controls > tbody > tr").length;
            
            var updated_row_num;
            if (rownum == 0)
            {
                updated_row_num=0;
            }
            else {
                updated_row_num=rownum/2;
            }
            
                       var field = $("#field").val();
                var DDL_fromProfession = "<input type='text' name='ParametersFromProf["+ updated_row_num  +"]' style='width:50px' id='DDL_FromProYear' />";
                var DDL_ToProfession = "<input type='text' name='ParametersToProf["+ updated_row_num +"]' style='width:50px' id='DDL_ToProYear' />";
                var newRow1 = "<tr><td align='center' style='font-size: large; color: #212121;' >"
                + DDL_fromProfession + " to " + DDL_ToProfession + "</td></tr>"
                + "<tr><td align='center' style='font-size:large;color:#212121;' >"
                newRow1 += "<button type='button' class='btn_rmv'>Remove</button></td></tr>";

                var input = "<input name='parameters["+ updated_row_num +"]' id='field' type='text' />";
                var input1 = "<input name='parametersCompany["+ updated_row_num +"]' id='field' type='text' />"
                var newRow = "<tr><td align='center' style='font-size: large; color: #212121;' >"
                + input + " at " + input1 + "</td></tr>";
                $('#controls').append(newRow);
                $('#controls').append(newRow1);

            });

            $('#controls').on('click', '.btn_rmv', function() {
                var index = $(this).closest('tr').index() + 2
                $('#controls tr:nth-child(n+' + (index - 3) + ')').remove();
                return false;
            });
            
        });
    </script>
<script type="text/javascript">
        $(document).ready(function() {

         $("#AddSch").click(function() {

            var rownum=$("#ControlsSch > tbody > tr").length;
            
            var updated_row_num;
            if (rownum == 0)
            {
                updated_row_num=0;
            }
            else {
                updated_row_num=rownum/2;
            }
                var field = $("#field").val();
                var DDL_fromProfession = "<input type='text' style='width:50px' name='ParametersFromSch["+ updated_row_num +"]' />";

                var DDL_ToProfession = "<input type='text' style='width:50px' name='ParametersToSch["+ updated_row_num +"]' />";


                var newRow1 = "<tr><td align='center' style='font-size: large; color: #212121;' >"
                + DDL_fromProfession + " to " + DDL_ToProfession + "</td></tr>"
                + "<tr><td align='center' style='font-size:large;color:#212121;' >"
                newRow1 += "<input type='button' class='btn_rmvsch' value='Remove'/></td></tr>";


                var input1 = "<input name='parametersSch["+ updated_row_num +"]' id='field' type='text' />"
                var newRow = "<tr><td align='center' style='font-size: x-large; color: #212121;' >" + input1 + "</td></tr>";
                $('#ControlsSch').append(newRow);
                $('#ControlsSch').append(newRow1);

            });
            $('#ControlsSch').on('click', '.btn_rmvsch', function() {
                var index = $(this).closest('tr').index() + 2
                $('#ControlsSch tr:nth-child(n+' + (index - 3) + ')').remove();
                return false;
            });
            
        });
    </script>    
<h1 class="title">
    Settings
</h1>
<h2 class="subtitle">
    Basic Information
</h2>

<%= form_for :settings, :url => {:action => :create} do |f| %>

<table>
      <tr>
         <td width="20%">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </td>
         <td width="75%" align="left" style="vertical-align: bottom; color: #212121;" class="style6">
            
            <% if @user_basic.SkillType.to_s == "1" %>
                <%= check_box_tag :Skilltype, @user_basic.id, true %>
                <%= label(:SkillType, " Students") %>
                <%= select_tag :user_Need,options_from_collection_for_select(@students, "id", "student_mentor_subjects",@user_basic.user_Need) ,:id => "DDL_Students" %>
            <% else %>
                <%= check_box_tag :Skilltype, @user_basic.id, false %>
                <%= label(:SkillType, " Students") %>
                <%= select_tag :user_Need,options_from_collection_for_select(@students, "id", "student_mentor_subjects") ,:id => "DDL_Students" %>
            <% end %>
         </td>
        </tr>
      <tr>
         <td>
         </td>
         <td>
            <% if @user_basic.SkillType1.to_s == "1" %>
                 <%= check_box_tag 'Skilltype1', @user_basic.id,true %>
                <%= label(:SkillType1, " Entrepreneurs") %>
                <%= select_tag :SkillNeed1,options_from_collection_for_select(@entrepreneurs, "id", "entrepreneurs_mentor_subjects",@user_basic.SkillNeed1) ,:id => "DDL_Entrepreneurs" %>
            <% else %>
                <%= check_box_tag 'Skilltype1', @user_basic.id, false %>
                <%= label(:SkillType1, " Entrepreneurs") %>
                <%= select_tag :SkillNeed1,options_from_collection_for_select(@entrepreneurs, "id", "entrepreneurs_mentor_subjects") ,:id => "DDL_Entrepreneurs" %>
            <% end %>
         </td>
       
      </tr>
      <tr>
         <td>
         </td>
         <td>
            <% if @user_basic.SkillType2.to_s == "1" %>
                <%= check_box_tag 'Skilltype2', @user_basic.id, true %>
                <%= label(:SkillType2, " Veterans") %>
                <%= select_tag :SkillNeed2,options_from_collection_for_select(@veterans, "id", "veteran_mentor_subjects",@user_basic.SkillNeed1) ,:id => "DDL_Veterans" %>
            <% else %>
                <%= check_box_tag 'Skilltype2', @user_basic.id, false %>
                <%= label(:SkillType2, " Veterans") %>
                <%= select_tag :SkillNeed2,options_from_collection_for_select(@veterans, "id", "veteran_mentor_subjects") ,:id => "DDL_Veterans" %>
            <% end %>
         </td>
           
      </tr>
</table>

<h2 class="subtitle"> 
    Personal Information
</h2>
<table align="center" width="90%" style="margin-left: 35px">
      <tr>
         <td style="vertical-align:top;">
            <table id="Professions" align="center">
                  <tr>
                     <td id="Professions" align="center">
                        Profession
                     </td>
                  </tr>
                    <tr>
                        <td align="center">
                            <% @user_profession.each do |user_prof| %>
                            <table id="Profession_controls" cellpadding="10" cellspacing ="10"> 
                                        <script type="text/javascript">
                                var rownum=$("Profession_controls > tbody > tr").length;
                                //alert(rownum);
                                var updated_row_num;
                                if (rownum == 0)
                                {
                                  updated_row_num=0;
                                }
                                else {
                                  updated_row_num=rownum/2;
                                }
                                </script>
                                <tr>
                                   <td>
                                      <input type="text" name="tf_designation" value="<%=  user_prof.Designation %>" style="">
                                      at
                                      <input type="text" name="tf_company" value="<%= user_prof.Company %>" style=""><br/>
                                   </td>
                                </tr>
                                <tr>
                                   <td align="center">
                                      <input type="text" name="tf_fromdesignation" value="<%= user_prof.Job_From %>" style="width:50px;">
                                      to
                                      <input type="text" name="tf_todesignation" value="<%= user_prof.Job_To %>" style="width:50px;"> <br/>
                                   </td>
                                </tr>
                                
                            </table>
                            <% end %>
                            <table id="controls" cellpadding="10" cellspacing="10">
                            </table>
                            <input id="btnAdd" type="button" value="Add" />
                        </td>
                    </tr>
            </table>
         </td>
         <td style="vertical-align:top;">
            <table id="Schools" align="center" valign="top">
                  <tr>
                     <td id="Schools" align="center">
                        Education
                     </td>
                  </tr>
                  <tr>
                        <td align="center">
                            <% @user_education.each do |user_ed| %>
                            <table id="SchoolControls" cellpadding="10" cellspacing="10">
                                <script type="text/javascript">
                                var rownum=$("SchoolControls > tbody > tr").length;
                                
                                var updated_row_num;
                                if (rownum == 0)
                                {
                                  updated_row_num=0;
                                }
                                else {
                                  updated_row_num=rownum/2;
                                }
                                //alert(updated_row_num);
                                </script>
                                  <tr> 
                                     <td>
                                        <input type="text" name="tf_education" value="<%= user_ed.SchoolName %>"><br/>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td align="center">
                                <input type="text" name="tf_fromeducation" value="<%= user_ed.SchoolFrom %>" style="width:50px;">
                                to
                                <input type="text" name="tf_toeducation" value="<%= user_ed.SchoolTo %>" style="width:50px;"><br/>
                                    </td>
                                  </tr>
                                  
                            </table>
                            <% end %>
                            <table id="ControlsSch" cellpadding="10" cellspacing="10">
                            </table>
                            <input id="AddSch" type="button" value="Add" />
                        </td>
                    </tr>
            </table>
         </td>
      </tr>
</table>
<h2 class="subtitle">
    Contact Information
</h2>
<div align="center" width="100%">

       <table>
        <% if @user_communication.blank? %>

            <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">

                Phone:
             </td>
             <td style="font-size: large; color: #212121;">

                <%= text_field_tag :tf_phone %>
                
             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Email:
             </td>
             <td style="font-size: large; color: #212121;">
                
                <%= text_field_tag :tf_email %>

             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Skype:
             </td>
             <td style="font-size: large; color: #212121;">

                <%= text_field_tag :tf_skype %>
                
             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Website:
             </td>
             <td style="font-size: large; color: #212121;">
                
                <%= text_field_tag :tf_website %>
                
             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Twitter:
             </td>
             <td style="font-size: large; color: #212121;">

                <%= text_field_tag :tf_twitter %>
             </td>
          </tr>
        <%else %>
        <% @user_communication.each do |user_com| %>
        <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Phone:
             </td>
             <td style="font-size: large; color: #212121;">
                <% if user_com.CommunicationMode.to_s == "Phone" %>
                <%= text_field_tag :tf_phone, user_com.CommunicationDetail %>
                <% else %>
                <%= text_field_tag :tf_phone %>
                <% end %>
             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Email:
             </td>
             <td style="font-size: large; color: #212121;">
                <% if user_com.CommunicationMode.to_s == "Email" %>
                <%= text_field_tag :tf_email, user_com.CommunicationDetail %>
                <% else %>
                <%= text_field_tag :tf_email %>
                <% end %>
             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Skype:
             </td>
             <td style="font-size: large; color: #212121;">
                <% if user_com.CommunicationMode.to_s == "Skype" %>
                <%= text_field_tag :tf_skype, user_com.CommunicationDetail %>
                <% else %>
                <%= text_field_tag :tf_skype %>
                <% end %>
             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Website:
             </td>
             <td style="font-size: large; color: #212121;">
                <% if user_com.CommunicationMode.to_s == "Website" %>
                <%= text_field_tag :tf_website, user_com.CommunicationDetail %>
                <% else %>
                <%= text_field_tag :tf_website %>
                <% end %>
             </td>
          </tr>
          <tr style="text-align: left; vertical-align: middle;">
             <td style="font-size: large; color: #212121;">
                Twitter:
             </td>
             <td style="font-size: large; color: #212121;">
                <% if user_com.CommunicationMode.to_s == "Twitter" %>
                <%= text_field_tag :tf_twitter, user_com.CommunicationDetail%>
                <% else %>
                <%= text_field_tag :tf_twitter %>
                <% end %>
             </td>
          </tr>
        <% end %>
        <%end %>
    </table>
</div>
<h2 class="subtitle">
    Profile Images
</h2>
<table align="center" width="100%">
        <tr>
        </tr>
</table>
<h2 class="subtitle">
    Advanced
</h2>
<table align="center" width="100%">
      <tr>
         <td align="center" width="34%" style="font-size: x-large; color: Gray;">
            Password
         </td>
         <td align="center" width="33%" style="font-size: x-large; color: Gray;">
            Privacy
         </td>
         <td align="center" width="33%" style="font-size: x-large; color: Gray;" height="60px">
            Delete Account
         </td>
      </tr>
      <tr>
         <td style="vertical-align:top;">
            <table align="center" width="73%">
                <tr>
                    <td style="text-align:right;">
                        <div class="button">
                            <a id="ResetPass" class="buttonSearch">Reset</a>
                        </div>
                    </td>
                </tr>
            </table>
         </td>
         
         <td>
            <%= label(:label2, "Show these details in search result", {}, { :class => "labelTo" }) %>
            <br />
            <%= check_box(:ChkBx_Location,{:id => "ChkBx_Location",:value => "Location"}) %>
            <%= label(:lb_Location, "Location") %>
            <br />
            <% @user_profession.each do |p| %>
            <% if !p.Designation.blank? and p.Private?.to_s == "1" %>
                    <input type="checkbox" name="ChkBx_Profession"
                    id="ChkBx_Profession" value="1" checked = "checked">
                    <%= label(:lb_Profession, "Profession") %>
             <% else %>
                    <input type="checkbox" name="ChkBx_Profession"
                    id="ChkBx_Profession" value="0">
                    <%= label(:lb_Profession, "Profession") %>
             <% end %>
             <% end %>
            <br />
            <% @user_education.each do |e| %>
            <% if e.Private? == "1" %>
                    <input type="checkbox" name="ChkBx_Education"
                    id="ChkBx_Education" value="1" checked = "checked">
                    <%= label(:lb_Profession, "Education") %>
            <% else %>
                    <input type="checkbox" name="ChkBx_Education"
                    id="ChkBx_Education" value="0">
                    <%= label(:lb_Profession, "Education") %>
            <% end %>
            <% end %>
            <br />
            <% @user_communication.each do |c| %>
            <% if c.CommunicationMode == "Phone" and c.Private?.to_s == "1" %>
                    <input type="checkbox" name="ChkBx_Phone"
                    id="ChkBx_Phone" value="1" checked = "checked">
                    <%= label(:lb_Phone, "Phone") %>
            <% else %>
                    <input type="checkbox" name="ChkBx_Phone"
                    id="ChkBx_Phone" value="0">
                    <%= label(:lb_Phone, "Phone") %>
            <% end %>
            <br />
            <% if c.CommunicationMode == "Email" and c.Private?.to_s == "1" %>
                    <input type="checkbox" name="ChkBx_Email"
                    id="ChkBx_Email" value="1" checked = "checked">
                    <%= label(:lb_Email, "Email") %>
            <% else %>
                    <input type="checkbox" name="ChkBx_Email"
                    id="ChkBx_Email" value="0">
                    <%= label(:lb_Email, "Email") %>
            <% end %>
            <br />
            <% if c.CommunicationMode == "Skype" and c.Private?.to_s == "1" %>
                    <input type="checkbox" name="ChkBx_Skype"
                    id="ChkBx_Skype" value="1" checked = "checked">
                    <%= label(:lb_Skype, "Skype") %>
            <% else %>
                    <input type="checkbox" name="ChkBx_Skype"
                    id="ChkBx_Skype" value="0">
                    <%= label(:lb_Skype, "Skype") %>
            <% end %> 
            <br />
            <% if c.CommunicationMode == "Website" and c.Private?.to_s == "1" %>
                    <input type="checkbox" name="ChkBx_Website"
                    id="ChkBx_Website" value="1" checked = "checked">
                    <%= label(:lb_Website, "Website") %>
            <% else %>
                    <input type="checkbox" name="ChkBx_Website"
                    id="ChkBx_Website" value="0">
                    <%= label(:lb_Website, "Website") %>
            <% end %>
            <br />
            <% if c.CommunicationMode == "Twitter" and c.Private?.to_s == "1" %>
                    <input type="checkbox" name="ChkBx_Twitter"
                    id="ChkBx_Twitter" value="1" checked = "checked">
                    <%= label(:lb_Twitter, "Twitter") %>
            <% else %>
                    <input type="checkbox" name="ChkBx_Twitter"     
                    id="ChkBx_Twitter" value="0">
                    <%= label(:lb_Twitter, "Twitter") %>
            <% end %>
            <% end %>
         </td>
         <td style="vertical-align:top;">
            <div align="left">
                <%= label(:label1, "Are you sure you want to delete your account?<br/> If you're having any specific problems. Just ", {}, { :class => "labelTo" }) %>
                    <a href="#" style="color: #33b5e5;" onclick="document.location = 'mailto:help@mentormentored.org'; return false;">
                    Let me know</a>
            </div>
        <table align="center" width="75%">
            <tr>
                <td style="text-align:left;">    
                    <div class="button">
                        <a id="DeleteMyAccount" class="buttonSearch">Delete My Account</a>
                    </div>
                </td>
            </tr>
        </table>

        </td>
    </tr>
</table>
   <table width="80%">
        <tr>
            <td style="font-size: x-large; color: #212121; margin-right:10px;text-align:center;" height="35px;">
                <div class="button" style="">
                    <input type="submit" class = "buttonSearch" value= 'Update'>
                </div>
            </td>
        </tr>
        <tr>
            <td style="font-size: x-large; color: #212121; text-align:center;" height="35px;">
                <div class="button">
                    <%= link_to "Back", :back, { :class => "buttonBack"} %>
                    
                </div>
            </td>
        </tr>
    </table>
<% end %>
            <script type="text/javascript">
                var el=document.getElementById("ResetPass");
                el.onclick = show_dialog2;
                function show_dialog2() {
                $( "#dialog" ).dialog();

                }
            </script>

<div id="dialog" title="Reset Password" hidden="true">
                <%= form_tag({ controller: "settings", action: "reset_password"}) do |f| %>
                    <table style="text-align:center; vertical-align:top;">
                        <tr>
                            <td>
                                <div>
                                    <%= label_tag(:currentpassword) %>
                                    <%= password_field_tag 'tf_currentpassword' %>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <%= label_tag(:newpassword, "New Password") %>
                                    <%= password_field_tag 'tf_newpassword' %>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <%= label_tag(:re_enterpassword, "Re-enter Password") %>
                                    <%= password_field_tag 'tf_re_enterpassword'  %>
                                </div>
                            </td>
                        </tr> 
                    </table>
                    <table align="center" width="63%">
                        <tr>
                            <td style="text-align:right;">
                                <%= submit_tag 'Submit', :id => "_button" %>
                            </td>
                        </tr>
                    </table>
                <% end %>
</div>
<script type="text/javascript">
$(document).ready(function() {
    // '_button' is the Id of your submit button
    $("#_button").click(function() {            
      $(this).closest("form").submit();
      $("#dialog").dialog("close");
    });
});
</script>


            <script type="text/javascript">
                var e2=document.getElementById("DeleteMyAccount");
                e2.onclick = show_dialog3;
                function show_dialog3() {
                $( "#dialog2" ).dialog();
                }
            </script>
<div id="dialog2" title="Delete My Account" hidden="true">
                <%= form_tag({ controller: "settings", action: "delete_my_account"}) do |f| %>
                    <table style="text-align:center; vertical-align:top;">
                        <tr>
                            <td>
                                <div>
                                    <%= label_tag(:password, "Password") %>
                                    <%= password_field_tag 'tf_password' %>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table align="center" width="63%">
                        <tr>
                            <td style="text-align:right;">
                                <%= submit_tag 'Submit', :id => "_button1" %>
                            </td>
                        </tr>
                    </table>
                <% end %>
</div>                       

<script type="text/javascript">
$(document).ready(function() {
    // '_button' is the Id of your submit button
    $("#_button1").click(function() {            
      $(this).closest("form").submit();
      $("#dialog2").dialog("close");
    });
});
</script>

