<h2 class="subtitle">
   My Contact Information
</h2>
<%= form_for(:Communication, :html => { :id => "communication_form" }) do |f| %>
<table align="center" width="100%">
      <tr>
         <td>
         
         </td>
         <td></td>
         <td>
            <label for="validation_all" id="errormessage" visible="false" style="font-size:60%; color:red;"></label>
         </td>
      </tr>
	   <tr>
         <td width="6%">

         </td>
		   <td>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.check_box(:chkbx_Phone, { :id => "cb_Phone", :value => "false" }) %>
            <%= label_tag "Phone" %>
	      </td>
	      <td>
            <%= f.text_field :tf_Phone, :id => "tb_phone" %>
            <%= f.check_box(:chkbx_Phone_Public, { :id => "Public", :value => "Public"}) %>
            <%= label_tag "Public" %>
            <%= f.radio_button(:rb_Phone_Preferred, "Preferred") %>
      		<%= label_tag "Preferred" %>
            <br/>
            <label for="validation_phone" id="errormessage_phone" visible="false" style="font-size:60%; color:red;"></label> 
	      </td>
	   </tr>
	   <tr>
         <td>

         </td>
         <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.check_box(:chkbx_Email, { :id => "cb_Email", :value => "false" }) %>
            <%= label_tag "Email" %>
         </td>
         <td>
            <%= f.text_field :tf_Email, :id => "tb_email" %>
            <%= f.check_box(:chkbx_Email_Public, { :id => "Public", :value => "Public" }) %>
            <%= label_tag "Public" %>
            <%= f.radio_button(:rb_Email_Preferred, "Preferred") %>
      		<%= label_tag "Preferred" %>
            <br/>
            <label for="validation_email" id="errormessage_email" visible="false" style="font-size:60%; color:red;"></label>  
         </td>
	   </tr>
	   <tr>
         <td>

         </td>
         <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.check_box(:chkbx_Skype, { :id => "cb_Skype", :value => "Skype" }) %>
            <%= label_tag "Skype" %>
         </td>
         <td>
            <%= f.text_field :tf_stype %>
            <%= f.check_box(:chkbx_Skype_Public, { :id => "Public", :value => "Public" }) %>
            <%= label_tag "Public" %>
            <%= f.radio_button(:rb_Skype_Preferred, "Preferred") %>
      		<%= label_tag "Preferred" %> 
         </td>
	   </tr>
	   <tr>
         <td>

         </td>
         <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.check_box(:chkbx_Website, { :id => "cb_Website", :value => "Website" }) %>
            <%= label_tag "Website" %>
         </td>
         <td>
            <%= f.text_field :tf_Website %>
            <%= f.check_box(:chkbx_Website_Public, { :id => "Public", :value => "Public" }) %>
            <%= label_tag "Public" %>
            <%= f.radio_button(:rb_Website_Preferred, "Preferred") %>
      		<%= label_tag "Preferred" %> 
         </td>
	   </tr>
	   <tr>
         <td>

         </td>
         <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.check_box(:chkbx_Twitter, { :id => "cb_Twitter", :value => "Twitter" }) %>
            <%= label_tag "Twitter" %>
         </td>
         <td>
            <%= f.text_field :tf_Twitter %>
            <%= f.check_box(:chkbx_Twitter_Public, { :id => "Public", :value => "Public" }) %>
            <%= label_tag "Public" %>
            <%= f.radio_button(:rb_Twitter_Preferred, "Preferred") %>
      		<%= label_tag "Preferred" %> 
         </td>
	   </tr>
</table>
<table width="92%">
      <tr>
         <td align="center">
         	<div class="button" style="margin-left:60px;">
                <%= f.submit "Next", { :class => "buttonSearch"} %>
            </div>
         </td>			
      </tr>
</table>
<% end %>

<script type="text/javascript">
   $("#communication_form").submit(function ( event ) {
      //alert("Hassan");
      //var phone_value = $("#cb_Phone").val();
      var phone_value = $("#cb_Phone").is(':checked') ? 1 : 0;
      var email_value = $("#cb_Email").is(':checked') ? 1 : 0;
      var skype_value = $("#cb_Skype").is(':checked') ? 1 : 0;
      var website_value = $("#cb_Website").is(':checked') ? 1 : 0;
      var twitter_value = $("#cb_Twitter").is(':checked') ? 1 : 0;
      var hasError = false;
      //alert("phone_value "+ phone_value + " email_value " + email_value);
      if(phone_value == 0 && email_value == 0 && skype_value == 0 && website_value == 0 && twitter_value == 0)
      {
         var message = $("#errormessage").html("Please Select");//alert("Hassan");
         message.show();
         hasError = true;
      } 
      else
      {
         hasError = false;
         $("#errormessage").empty().hide();
      }
      if(hasError)
      {
        event.preventDefault();
      }
   });
</script>
<script type="text/javascript">
   $("#communication_form").submit(function ( event ) {
      
      var phone = /^((\+)?[1-9]{1,2})?([-\s\.])?((\(\d{1,4}\))|\d{1,4})(([-\s\.])?[0-9]{1,12}){1,2}$/;
      
      var hasError2 = false;
      var inp_phone = $("#tb_phone").val();
      var phone_value = $("#cb_Phone").is(':checked') ? 1 : 0;
      var numbers = inp_phone.split("").length;
      
      if (phone_value == 1 && !phone.test(inp_phone))
      {
         //alert("Hassan");
         var message =  $("#errormessage_phone").html("Invalid Phone");
         message.show();
         hasError2 = true;
      }
      else
      {
         hasError2 = false;
         $("#errormessage_phone").empty().hide();
      }
      if(hasError2){
        event.preventDefault();
      }
   });
</script>
<script type="text/javascript">
   $("#communication_form").submit(function ( event ) {
      
      var email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      var hasError1 = false;
      var inp_email = $("#tb_email").val();
      var email_value = $("#cb_Email").is(':checked') ? 1 : 0;
      
      if(email_value == 1 && !email.test(inp_email))
      {
      
         var message1 =  $("#errormessage_email").html("Invalid Email");
         message1.show();
         hasError1 = true;
      }
      else
      {
         hasError1 = false;
         $("#errormessage_email").empty().hide();
      }
      if(hasError1)
      {
        event.preventDefault();
      }
   });
</script>